body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background-size: cover;
  background-image: url(https://cdn.astralevolution.pro/V46lvWQLis9gja6w.png);
}

header {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}

nav {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

section {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  line-height: 1.5;
  color: #fff;
  text-shadow: 2px 2px #000;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px #000;
}

iframe {
  width: 100%;
  height: 900px;
  margin-top: 50px;
}
.input {
  font-family: cursive;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: #fff;
  border: 2px solid #000;
  width: 90%;
  height: auto;
  display: block;
  transition: all 0.3s;
}

.input:placeholder-shown+.fl {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

h2 {
  font-weight: bold;
  text-align: center;
  color: white;
}
button {
  background: linear-gradient(to bottom, #4da6ff, #ffffff); 
  color: #000; 
  font-weight: bold; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0,0,1,0.3); 
  cursor: pointer; 
  font-family: 'Pacifico', cursive; 
  height: auto; 
  width: auto;
  display: inline-block;
  margin-bottom: 25px;
  margin-left: 15px
}

div {
  text-align: center;
}